body , html {
    max-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

@font-face {
    font-family: TTLakes;
    src: url(../fonts/TTlakes/TTLakes-Regular.woff);
}

@font-face {
    font-family: TTLakes-Bold;
    src: url(../fonts/TTlakes/TTLakes-Bold.woff);
}

@font-face {
    font-family: TT Lakes-Medium;
    src: url(../fonts/TTlakes/TTLakesCondensed-Medium.woff);
}

.header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 16px;
    background-color: #FFFFFF;
}

.header__left-side {
    width: 172.1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__contener-btn-768px {
    display: none;
}

.nav__decor-line {
    display: none;
}

.header__nav {
    width: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side__decor-line {
    order: 1;
}

.horizontal-decor-line {
    height: 1px;
    background-color: #D9FFF5;
    margin-bottom: 24px;
}

.main-content__topic {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.topic__conteiner-info {
    display: flex;
    align-items: center;
}

.conteiner-info__decor-line {
    width: 4px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #41F6D7;
}

.conteiner-info__info {
    width: 288px;
    font-family:  TTLakes-Bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 0px 0px 0px 12px;
}

.topic__conteiner-btn-1120px {
    display: none;
}

.main-content__menu {
    display: flex;
    white-space: nowrap;
    overflow-y: hidden;
    margin: 0px 16px 24px 16px;
}

.main-content__menu::-webkit-scrollbar {
    display: none;
} 

.menu__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: TTLakes;
    color: #7E7E82;
    text-decoration: none;
    padding: 8px 9.3px 8px 16.54px;
    margin: 0px 19.56px 0px 0px;
    border: 2px solid transparent;
    border-radius: 6px;
}

.menu__link:hover {
    border-color: #B8FFEC;
    background-color: #FFFFFF;
}

.main-content__information {
    flex-direction: column;
}

.information__left-side {
    flex-direction: column;
}

.left-side__text {
    margin: 0px 0px 24px 0px;
    padding: 0px 16px 0px 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-family: TTLakes;
    color: #1B1C21;
}

.text__span-768px {
    display: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-family: TTLakes;
    color: #1B1C21;
}

.text__span-1120px {
    display: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-family: TTLakes;
    color: #1B1C21;
}

.left-side__contener-btn {
    display: flex;
    align-items: center;
    margin: 0px 0px 24px 24px;
}

.contener-btn__lable-for-btn {
    background-image: url(../img/read-more-ico/icon.svg);
    width: 8px;
    height: 11px;
    box-sizing: border-box;
}

.contener-btn__btn-read-more {
    font-family: TTLakes-Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 16px;
}

.right-side__img {
    width: 100%;
    height: auto;
}

@media (min-width: 321px) and (max-width:768px) {
    body , html {
        max-width: 768px;
    }

    .header {
        padding: 24px;
    }

    .header__left-side {
        width: 179.28px;
    }

    .left-side__decor-line {
        order: 0;
    }

    .header__nav {
        width: 290px;
        min-width: 200px;
    }

    .nav__contener-btn-768px {
        width: 152px;
        display: flex;
        justify-content: space-between;
    }

    .nav__decor-line {
        display: flex;
        margin: 0px 4px 0px 4px;
    }

    .main-content__information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 25px;
        margin-left: 24px;
    }

    .menu__link {
        margin-right: 14px;
    }

    .information-right-side {
        width: 360px;
        height: 208px;
    }

    .left-side__text {
        padding: 0;
    }

    .text__span-768px {
        display: block;
    }

    .right-side__img {
        border-radius: 6px;
    }

    .information__left-side {
        width: 312px;
    }

    .left-side__contener-btn {
        margin-left: 9px;
    }
}

@media (min-width:769px) {
    body , html {
        min-width: 769px;
        max-width: 100%;
    }

    .header {
        display: none;
    }

    .horizontal-decor-line {
        display: none;
    }
    
    .main-content__topic {
        margin-top: 42px;
        justify-content: space-between;
    }

    .conteiner-info__info {
        margin-left: 30px;
    }

    .topic__conteiner-btn-1120px {
        display: flex;
        justify-content: space-between;
        width: 376px;
        margin-right: 32px;
    }

    .topic__conteiner-btn-1120px .conteiner-btn-1120px__btn-repair ,
    .topic__conteiner-btn-1120px .conteiner-btn-1120px__btn-checkstatus{
        align-items: center;
        width: 173px ;
    }

    .conteiner-btn-1120px__btn-repair::before {
        content: "Оставить заявку";
        margin-right: 8px;
        white-space: nowrap;
        width: 125px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: TT Lakes-Medium;
        color: #1B1C21;
    }

    .conteiner-btn-1120px__btn-checkstatus::before {
        content: "Статус ремонта";
        margin-right: 9px;
        white-space: nowrap;
        width: 125px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: TT Lakes-Medium;
        color: #1B1C21;
    }

    .main-content__menu {
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
        overflow-y: auto;
        margin: 0px 16px 24px 33px;
    }
    
    .main-content__information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 33px;
        margin-left: 33px;
    }

    .information-right-side {
        width: 531px;
        height: 307px;
    }

    .left-side__text {
        padding: 0;
        margin-right: 36px;
    }

    .text__span-768px {
        display: block;
    }

    .right-side__img {
        border-radius: 6px;
    }

    .information__left-side {
        width: 490px;
    }
    
    .text__span-1120px {
        display: block;
    }
    
    .left-side__contener-btn {
        margin: 0px;
    }
}
